.vertical-table[data-v-671d6e47]{border-collapse:collapse;width:100%}.vertical-table td[data-v-671d6e47],.vertical-table th[data-v-671d6e47]{border:1px solid #ccc;min-width:120px;padding:8px;text-align:left;vertical-align:top}
